.title {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
.form {
  margin-left: auto;
  margin-right: auto;
  width: 328px;
  border: transparent;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
  border: 1px solid #000;
  border-radius: 5px;
}
.divWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  width: 320px;
  height: 30px;
  border: 1px solid #94bfc6;
  border-radius: 4px;
}
.input:hover,
.input:focus {
  border-color: #94bfc6;
}
.label {
  margin-bottom: 6px;
  color: #94bfc6;
  font-size: 18px;
}
.button {
  display: flex;
  padding: 4px 8px;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #94bfc6;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  color: #fff;
}
